#grafica{
    max-width: 30px;
}

body{
  background-color: #D0DBF1;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  text-align: center;
}

h1{
    color: red;
}

#dado1{
    background-color: red;
}
#dado2{
    background-color: blue;
}
#dado3{
    background-color: green;
}
#dado4{
    background-color: yellow;
}
#dado5{
    background-color: purple;
}
#dado6{
    background-color: orange;
}

input {
    width: 70%;
    padding: 5px;
    text-align: center;
  }

#button{
    background-color: red;
    width: 74%;
    color: white;
}
